body {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgb(11, 129, 138, 0.8)), 
                      url(./assets/beautiful-sea-hotel.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-left: 0;
    justify-content: flex-start;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
}

section#website-intro button{
    width: 200px;
}